


body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	/* background-color: #1c1c1c; */
	overflow: hidden;
	/*min-width: 600px;*/
}

a {
	text-decoration: none;
}

a, #navi_panel {
	color: white;
}


#navi_panel {
	/* background-color: #e8e8e8; */
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 20px;
	height: 75vh;
	padding-top: 5vh;
}

#left_container {
	float: left;
	overflow: hidden;
	width: 20%;
	color: #16788c;
	transition: 0.3s;
	position: fixed;
	z-index: 0;
	background-color:  black;
}

#right_container {
	color: #dbdbdb;
	overflow: hidden;
	padding-left: 20%;
}


#skill_list {
	float: left;
	margin-top: 4%;
}

#skill_container {
	overflow: auto;
}

.right_content, #skill_container {
	height: 70vh;
	margin-bottom: 15vh;
	margin-top: 15vh;

	margin-left: 0%;
	margin-right: 0%;
}

h1 {
	color: black;
	margin-top: 0;
}

#open_nav {
    position: fixed;
    text-align: right;
    width: 100%;
    background-color: black; 
    display: none;
}

#open_nav img{
	height: 40px;
	margin-right: 10px;
}

#close_nav{
    width: 30px;
    height: 30px;
   	margin-top: 5px;
    display: none;
    float: right;
    background-image: url(exit_icon.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#portfolio_container, #project_container {
	display: none;
	overflow: scroll;
	overflow-x: hidden;
	height: 80vh;
	margin-left: 5%;
	margin-right: 5%;
	margin-top:10vh;
}
.portfolio_item{
	padding-top: 20px;
	padding-bottom: 30px;
	overflow: auto;
	border-bottom: solid 1px #16788c;
}

.portfolio_text {
	margin-right: 2%;
	margin-top: 6%;
    text-align: right;
}

.portfolio_image {
	width: 40%;
	vertical-align: middle;
	float: left;
	margin-right: 2%;
}

#greet{
	position: absolute;
	width: 50%;
	margin-top: 16vh;
	margin-left: 10%;
}

#greet h1 {
	font-size: 60px;
	background-color: white;
	margin: 0;
	margin-top: 12vh;
	border: 1px solid black;
	/* border-bottom: 2px solid gold; */
	padding: 20px;
	margin-bottom: 1vh;
	font-family: 'Roboto Mono', monospace;
}

#greet h3 {
	font-size: 24px;
	line-height: 200%;
	font-style: normal;
	font-weight: 200;
	margin: 0;
	line-height: 110%;

}

#greet span {
	color: black;
	font-weight: 600;

}

#intro {
    background-color: white;
    padding: 20px;
    color:#444444;
    border: 1px solid black;
    font-family: 'Roboto Mono', monospace;
}

#mapContainer svg {
	/* background-color: #1c1c1c; */
	width: 100%;
	height: 100vh;
}

#mapContainer {
	float:left;
	width: 100%;
	overflow: hidden;
}

.land {
	fill: #16788c;
}

#hexCanvas{
	/* background-color: #1c1c1c; */
	float: left;
	margin-top: 15%;
	margin-left: 5%;
}



.onClickHex {
	fill: #1c1c1c;
}

.interestHexagons {
	fill: white;
}

.staticHexBG{
	fill:white;
	stroke: white;
	stroke-width: 10px;
}

ul {
  list-style-type: none;
}

.skillHighlight{
	color: #2bf4ff;
}

h2{
	margin: 0;
	color:white;
}

#languages{
	text-align: right;
}

#software{
	text-align: left;
}

#portfolio_container::-webkit-scrollbar, 
#skill_container::-webkit-scrollbar,
#project_container::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#portfolio_container::-webkit-scrollbar-track,
#project_container::-webkit-scrollbar-track,
#skill_container::-webkit-scrollbar-track {
    background: #1c1c1c; 
}
 
/* Handle */
#portfolio_container::-webkit-scrollbar-thumb,
#project_container::-webkit-scrollbar-thumb,
#skill_container::-webkit-scrollbar-thumb  {
    background: #2bf4ff; 
}

/* Handle on hover */
#portfolio_container::-webkit-scrollbar-thumb:hover, 
#project_container::-webkit-scrollbar:hover,
#skill_container::-webkit-scrollbar-thumb:hover {
    background: #16788c; 
}

.portfolio_text p a, .portfolio_text span {
	color:#2bf4ff;
}

#loading, #skill_container, #landing_container, #blog_container, #project_container, #left_container, #right_container {
	display: none;
}

#initialize {
	color: white;
    width: 100%;
    text-align: center;
    padding-top: 40vh;
    padding-bottom: 40vh;
    font-size: 40px;
    position: fixed;
    background-color: #1c1c1c;
    height: 100vh;
    z-index: 1;
}

#navi_panel li{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
	cursor: pointer;
	/* border: 1px solid #e8e8e8; */
	transition: border-color 1s;
	font-family:  'Roboto Mono', monospace;
}

#navi_panel li:hover {
	border: 1px solid #16788c;
	color: #16788c;
}

#blog_container {
    margin-top: 45vh;
    width: 50%;
}

.loader {
    border: 5px solid #f3f3f3; /* bg */
    border-top: 5px solid #16788c; /* highlight */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 600px) {
	#left_container {
		width: 0;
		z-index: 1;
	}  

	#right_container{
		padding-left: 0;
	}

	#greet h1{
		margin-top: 0;
	}
	#open_nav{
		display: block;
	}
}